@import "tailwindcss";

@theme {
    --col-start-11: 11;
    --col-start-12: 12;
    --col-start-13: 13;
    --row-start-10: 10;
    --row-start-11: 11;
    --row-start-12: 12;
    --row-start-13: 13;
}