---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<p
		class="mx-auto max-w-4xl text-4xl text-gray-700 dark:text-gray-400 text-right"
	>
		Escolhe uma música no menu acima.
	</p>
</BaseLayout>
