---
import BlackKey from "./BlackKey.astro";
import Key from "./Key.astro";
---

<div class="grid grid-cols-7 gap-2">
    <Key note="Do" />
    <BlackKey note="Do#" />
    <Key note="Re" />
    <BlackKey note="Re#" />
    <Key note="Mi" />
    <Key note="Fa" />
    <Key note="Sol" />
    <BlackKey note="Sol#" />
    <Key note="La" />
    <Key note="Si" />
</div>