---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Staff from "../../components/Staff.astro";
import { parseSong } from "../../utils/notation-parser";

export async function getStaticPaths() {
    const songs = await getCollection("songs");
    return songs.map((song) => ({
        params: { song: song.id },
        props: { song },
    }));
}

const { song } = Astro.props;
const parsedSong = parseSong(song.data);
console.table(parsedSong.staffs);
---

<BaseLayout>
    <hgroup class="mx-auto max-w-4xl">
        <h1 class="text-2xl font-bold">{song.data.title}</h1>
        <p class="mb-6">Tempo: <strong>{song.data.tempo}</strong></p>
    </hgroup>
    {
        parsedSong.staffs.map((staff) => (
            <Staff staff={staff} tempo={song.data.tempo} class="mb-20" />
        ))
    }
</BaseLayout>
